/* шрифты */

/* Arial Black */
@font-face {
    font-family: 'Arial Black';
    src: url('/shelter/src/fonts/arial/arial-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Arial Bold Italic */
@font-face {
    font-family: 'Arial';
    src: url('/shelter/src/fonts/arial/arial-bold-italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Arial Bold */
@font-face {
    font-family: 'Arial';
    src: url('/shelter/src/fonts/arial/arial-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Arial Italic */
@font-face {
    font-family: 'Arial';
    src: url('/shelter/src/fonts/arial/arial-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Arial Narrow Bold Italic */
@font-face {
    font-family: 'Arial Narrow';
    src: url('/shelter/src/fonts/arial/arial-narrow-bold-italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Arial Narrow Bold */
@font-face {
    font-family: 'Arial Narrow';
    src: url('/shelter/src/fonts/arial/arial-narrow-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Arial Narrow Italic */
@font-face {
    font-family: 'Arial Narrow';
    src: url('/shelter/src/fonts/arial/arial-narrow-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Arial Narrow Regular */
@font-face {
    font-family: 'Arial Narrow';
    src: url('/shelter/src/fonts/arial/arial-narrow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Arial Regular */
@font-face {
    font-family: 'Arial';
    src: url('/shelter/src/fonts/arial/arial-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* font-family: 'Arial', Arial, sans-serif; */
/* font-family: 'Arial Narrow', Arial, sans-serif; */

/* Georgia Bold Italic */
@font-face {
    font-family: 'Georgia';
    src: url('/shelter/src/fonts/georgia/georgia-bold-italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Georgia Bold */
@font-face {
    font-family: 'Georgia';
    src: url('/shelter/src/fonts/georgia/georgia-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Georgia Italic */
@font-face {
    font-family: 'Georgia';
    src: url('/shelter/src/fonts/georgia/georgia-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Georgia Regular */
@font-face {
    font-family: 'Georgia';
    src: url('/shelter/src/fonts/georgia/georgia-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* font-family: 'Georgia', sans-serif; */

html{
    scroll-behavior: smooth;
}

li{
    list-style: none;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.img{
    max-width: 100%;
    height: auto;
}

/* header */

.header{
    background: #FFFFFF;

}

.header__start_screen{
    max-width: 1280px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 18px;
}

.head{
    display: flex;
    padding: 11px 40px 12px 40px;
    justify-content: space-between;
}

.logo{
    display: grid;
    gap: 9px;
}

.title__logo{
    font-size: 32px;
    font-weight: 400;
    line-height: 35.2px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #545454;
    font-family: 'Georgia', sans-serif;
}

.down__logo{
   font-family: Arial;
   font-size: 13px;
   font-weight: 400;
   line-height: 14.95px;
   letter-spacing: 0.1em;
   text-align: left;
   color:  #292929;
   margin-left: 4px;
}

.nav_list{
    display: flex;
    gap: 36px;
}

.nav__list_item{
    color: #545454;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

/* Burger menu */

.nav__burger{
    display: none;
    margin: auto;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
   }

   .burger__line{
    display: block;                  
    width: 30px;                                               
    border-bottom: 2px solid #000000;
    padding: 4px 0px;
} 


   .nav__burger::after{
    display: block;          
    width: 30px;                 
    content: '';                                
    border-bottom: 2px solid #000000;
    padding: 4px 0px;      
   }

   .nav__burger::before{
    display: block;          
    width: 30px;                 
    content: '';                                
    border-bottom: 2px solid #000000;      
    padding: 0px 0px;
   }

   @media (max-width: 767px){
    .nav__burger{
        display:block;
        width: 45px;
        height: 23px;
        flex-shrink: 0;
    }

    .navigation{
        display: none;
    }
   }
/* pets */

.our__friends{
    background: #F6F6F6;
}

.pets__content{
    max-width: 1280px;
    margin: auto;
}

.pets__content_box{
    display: flex;
    padding:80px 25px 102px;
    flex-direction: column;
    gap: 44px;
    align-items: center;
}

.h3__pets{
    color: #545454;
    font-family: Georgia ,sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: center;
    max-width: 400px;
    margin: auto;
}

.pets__slider__box{
    display: flex;
    align-items: center;
    gap: 37px;
}



.slider__pets{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    column-gap: 10px;
}


.slider__item{
    width: 270px;
    gap: 30px;
    border-radius: 9px;
    display: grid;
    justify-items: center;
    background: #FAFAFA;
    padding-bottom:30px;
    margin: 15px;
    transition:  0.7s;
}

.slider__span{
    font-family: Georgia ,sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 22.72px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
}

.slider__btn{
    color: #292929;
    font-family: Georgia ,sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 22.1px;
    letter-spacing: 0.06em;
    text-align: left;
    border: 2px solid #F1CDB3;;
    padding: 13px 43px;
    border-radius: 100px;  
    background: #FAFAFA;
    transition:  0.7s; 
    cursor: pointer;
}

.btn__slider__pets{
    display: grid;
    padding: 12px 10px;
    border-radius: 100px ;
    border: 2px;
    border: 2px solid #F1CDB3;
    transition:  0.7s;
    cursor: pointer;
    background-color: #F6F6F6;
}

.span__pets{ 
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
}

.left{
    padding: 12px 17px;
}

.number{
    padding: 12px 19px;
    cursor: default;
}

.right{
    padding: 12px 17px;
}

.pets__pegionation{
    display: flex;
    gap: 20px;
}

/* footer */

.footer{
    background: url(../img/noise_transparent.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),linear-gradient(0deg, #211F20, #211F20);
}

.footer__box{
    max-width: 1280px;
    margin: auto;
}

.footer__contetn{
    padding: 40px 40px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__contetn__item{
    padding-top: 17px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer__contetn__list{
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.footer__contetn__item_location{
    padding-top: 17px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: -7px;
}

.footer__contetn__list_location{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.footer__contetn_h3{
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #FFFFFF;  
}

.footer__contetn_link{
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #F1CDB3; 
    display: flex;
    align-items: center;
    gap: 20px;
    transition:  0.7s;
}

/* hover element */


.nav__item{
    padding-bottom: 2px;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .4s; 
    transition:  0.7s;
}

.footer__item{
    padding-bottom: 5px;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .4s; 
    transition:  0.7s;
} 

.nav__list_item{
    transition:  0.7s;
}

.nav__list_item:hover{
   color: #292929;
}

.footer__item:hover{
    color: #F1CDB3;
    background-size: 100% 3px; 
}

.nav__item:hover{
color: #F1CDB3;
background-size: 100% 3px; 
}

.active__nav_list{
    color: #292929;
    cursor: default;
}

.active__nav_item{
    background-image: linear-gradient(currentColor, currentColor);
    color: #F1CDB3;
    background-size: 100% 3px; 
    background-image: linear-gradient(currentColor, currentColor);
}

.footer__contetn_link:hover{
    color: #FAFAFA; 
}

.btn__slider__pets:hover{
    background-color: #FDDCC4;
    border: 2px solid #fDDCC4;
}

.slider__item:hover .slider__btn {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.slider__item:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.active__btn__slider__pets{
    background-color: #FDDCC4;
    border: 2px solid #fDDCC4;
}

.disabled__btn__slider__pets{
    background-color: #F6F6F6;
    color: #CDCDCD;
    border: 2px solid #CDCDCD;
}

.disabled__btn__slider__pets:hover{
    background-color: #F6F6F6;
    color: #CDCDCD;
    border: 2px solid #CDCDCD;
    cursor: not-allowed;
}



@media (max-width:960px){
    .footer__img{
        padding-left: 170px;
      }
}



@media (max-width:768px){
    .head {
        padding: 11px 30px 12px 30px;
    }


    .footer__contetn {
        padding: 14px 64px 2px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        column-gap: 60px;
        row-gap: 42px;
    }

  .footer__contetn__item_location{
    margin: 0px;
  }

  .footer__img{
    padding-left: 170px;
  }
}


@media (max-width: 1000px) {
     .slider__pets{
        justify-content: center;
     }
    /* .slider__item:nth-last-child(-n+2) { 
      display: none;
    } */
    .pets__content_box{
        gap: 14px;
        padding: 80px 25px 77px;
    }
    .pets__pegionation{
        padding-top: 11px;
    }
  }

  @media (max-width: 760px) {
    .footer__contetn{
        justify-content: center;
    }
 }


  @media (max-width: 760px) {
    .footer__contetn{
        justify-content: center;
    }

    .footer__img{
        padding-left: 0px;
      }
 }

 @media (max-width: 659px) {
    .h3__pets{
        font-size: 25px;
    }
    /* .slider__item:nth-last-child(-n+5) { 
        display: none;
      } */
 }


 @media (max-width: 440px) {
    .nav__burger{

        margin-right: 11px;
     margin-left: 0px;
       
    }

    .header__start_screen {
        padding-bottom: 30px;
    }

   .head{
    padding: 11px 0px 0px 20px;
   }
   .pets__pegionation {
    gap: 10px;
    padding-top: 0px;
}
.h3__pets{
    line-height: 31.5px;
}

.pets__content_box {
    padding: 43px 0px 41px;
    gap: 28px;
}
   .footer__contetn{
    padding: 0;
    gap: 2px;
   }
   .footer__img {
    width: 81%;
    padding: 19px 28px 0px 28px;
}


.footer__contetn_h3{
    font-family: Georgia;
    font-size: 25px;
    font-weight: 400;
    line-height: 32.5px;
    letter-spacing: 0.06em;
    text-align: center;
   }
   .footer__contetn__item {
    padding-top: 30px;
    gap: 27px;
    align-items: center;
   }

   .footer__br{
    display: none;
   }

   .footer__contetn__list {
    gap: 38px;
}

.footer__number{
    padding-left: 6px;
}
.footer__contetn_h3_pading{
    padding-left: 10px;
    padding-right: 17px;
}
.footer__contetn__item_location{
    padding-left: 9px;
    gap: 23px;
}
.footer__contetn__list_location{
    gap: 35px;
}

} 

/* burger-menu */

.hidden-overflow{
    overflow: hidden;
}

@media (max-width: 767px){
    
    @keyframes burher-hide {
        0% {
  
           transform: translateX(0%);
        }
        50%{
           transform: translateX(100%);
           display: none;
        }
        100% {
           transform: translateY(-300%);
           display: none;
        }
      }
   

    @keyframes burher-active {
        0% {
           transform: translateY(-300%);
           display: none;
        }
        50%{
           transform: translateX(100%);
           display: none;
        }
        100% {
           transform: translateX(0%);
    overflow: hidden;
        }
      }
    .hidden-overflow{
        overflow: hidden;
    }

    .head {
        padding: 11px 0px 0px 20px;
    }

    .background__rear_active{
        background: #29292999;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        left: 0;
    overflow: hidden;
    }
 
    .navigation{
        display: block;
        position: absolute;
        top: -16px;
        right: 0px;
        animation: burher-hide 0.3s forwards;
        transition: transform 0.3s ease-in-out;
    }

    .nav__burger{
        z-index: 5;
        margin-right: 10px;
        transition: transform 0.3s;
        background-color: rgba(0, 125, 215, 0);
        
    }

    .nav_list{
        width: 320px;
        height: 100vh;
        background: #F6F6F6;
        display: grid;
        justify-items: center;
        align-items: center;
        align-content: center;
        gap: 39px;

    }

    .nav__list_item{
    font-family: Arial;
    font-size: 32px;
    font-weight: 400;
    line-height: 51.2px;
    text-align: left;
    }

    .burger--active{
        transform: rotate(90deg);
        transition: transform 0.3s;
        margin-right: 12px;
       }

       .navigation-visibl {
        animation: burher-active 0.3s forwards;
        z-index: 3;
    
    }
   }


   /* modal */

   .modal__window_pets{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #29292999;
    top: 0;
    z-index: 15;
    margin: auto;
    opacity: 0;
    transition: opacity 0.3s;
    transform: translateY(-3000%);
   }


   .modal_active{
    opacity: 1;
    transition: opacity 0.5s;
    transform: none;
    overflow: hidden;
   }

  

   .modal__closed{
    position: absolute;
    top: -54px;
    right: -44px;
    display: grid;
    padding: 20px 20px;
    border-radius: 100px;
    border: 2px;
    border: 2px solid #F1CDB3;
    transition: 0.7s;
    cursor: pointer;
    background-color: rgba(0, 125, 215, 0);
   }

   .modal__window_pets_info{
    position: fixed;
    display: flex;
    max-width: 900px;
    height: 500px;
    flex-direction: row;
    border-radius: 9px;
    background: #FAFAFA;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
   }

   .modal__content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 9px;
    gap: 30px;
   }

   .modal_img{
    max-width: 500px;
    max-height: 500px;
   }

   .modal_img{
    width: 250%;
    border-radius: 9px;
   }

   .modal__info{
   display: flex;
   flex-direction: column;
   padding-top: 50px;
   }

   .modal__info_title{
    display: grid;
    gap: 9px;
   }

   .modal__info_namepets{
      font-family: Georgia;
      font-size: 35px;
      font-weight: 400;
      line-height: 45.5px;
      letter-spacing: 0.06em;
      text-align: left;
   }

   .modal__info_dog{
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: left;
   }

   .modal__info_description{
    padding-right: 18px;
    padding-top: 26px;
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 16.5px;
    letter-spacing: 0.06em;
    text-align: left;
   }
 
   .modal__info_list{
    list-style: disc;
    text-decoration: none;
    padding-top: 11px;
    padding-left: 14px;
    display: grid;
    gap: 10px;
   }

   .list_li{
    border-radius: 100%;
    list-style: disc;
    text-decoration: none;
    color: #F1CDB3;;
   }

   .item_list{
    font-family: Georgia;
    font-size: 15px;
    font-weight: 700;
    line-height: 16.5px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #000000;

   }

   .atribytes{
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 16.5px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #000000;

   }

   @media (max-width: 1006px){
    .modal__window_pets_info{
        max-width: 630px;
        height: 350px;
       }

       .modal__content {
        gap: 11px;
    }

    .modal__info {
        padding-top: 11px;
    }

    .modal__info_description {
        padding-right: 8px;
        padding-top: 10px;
        font-family: Georgia;
        font-size: 13px;
        font-weight: 400;
        line-height: 13.5px;
        letter-spacing: 0.06em;
        text-align: left;
    }

    .modal__info_list {
        list-style: disc;
        text-decoration: none;
        padding-top: 8px;
        padding-left: 14px;
        display: grid;
        gap: 5px;
        margin: 0;
    }
   }

   @media (max-width: 735px){
    .modal__window_pets_info{
        max-width: 550px;
        height: 330px;
       }

    .modal__info {
        padding-top: 11px;
    }

    .modal__info_description {
        padding-top: 10px;
        font-family: Georgia;
        font-size: 13px;
        font-weight: 400;
        line-height: 13.5px;
        letter-spacing: 0.06em;
        text-align: left;
    }

    .modal__info_list {
        list-style: disc;
        text-decoration: none;
        padding-top: 8px;
        padding-left: 14px;
        display: grid;
        gap: 5px;
        margin: 0;
    }
   }


   @media (max-width: 665px){
    .modal__window_pets_info{
        max-width: 240px;
        height: max-content;
       }

       .modal_img{
        display: none;
       }

    .modal__info {
        padding-top: 10px;
        padding-left: 2px;
    }

    .modal__info_title {
        display: grid;
        gap: 9px;
        padding-left: 0px;
        justify-items: center;
    } 
    .modal__info_description {
        
        padding-top: 9px;
        padding-left: 8px;
        padding-right: 10px;
        font-family: Georgia;
        font-size: 13px;
        font-weight: 400;
        line-height: 14.1px;
        letter-spacing: 0.06em;
        text-align: justified;

    }

    .modal__info_list {
        padding-left: 23px;
        padding-bottom: 3px;
    }

    .modal__closed {
        position: absolute;
        top: -53px;
        right: -30px;
        display: grid;
        padding: 18px 18px;
        border-radius: 100px;
        border: 2px;
        border: 2px solid #F1CDB3;
        transition: 0.7s;
        cursor: pointer;
        background-color: rgba(0, 125, 215, 0);
    }
   }