/* шрифты */

/* Arial Black */
@font-face {
    font-family: 'Arial Black';
    src: url('/shelter/src/fonts/arial/arial-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Arial Bold Italic */
@font-face {
    font-family: 'Arial';
    src: url('/shelter/src/fonts/arial/arial-bold-italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Arial Bold */
@font-face {
    font-family: 'Arial';
    src: url('/shelter/src/fonts/arial/arial-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Arial Italic */
@font-face {
    font-family: 'Arial';
    src: url('/shelter/src/fonts/arial/arial-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Arial Narrow Bold Italic */
@font-face {
    font-family: 'Arial Narrow';
    src: url('/shelter/src/fonts/arial/arial-narrow-bold-italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Arial Narrow Bold */
@font-face {
    font-family: 'Arial Narrow';
    src: url('/shelter/src/fonts/arial/arial-narrow-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Arial Narrow Italic */
@font-face {
    font-family: 'Arial Narrow';
    src: url('/shelter/src/fonts/arial/arial-narrow-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Arial Narrow Regular */
@font-face {
    font-family: 'Arial Narrow';
    src: url('/shelter/src/fonts/arial/arial-narrow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Arial Regular */
@font-face {
    font-family: 'Arial';
    src: url('/shelter/src/fonts/arial/arial-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* font-family: 'Arial', Arial, sans-serif; */
/* font-family: 'Arial Narrow', Arial, sans-serif; */

/* Georgia Bold Italic */
@font-face {
    font-family: 'Georgia';
    src: url('/shelter/src/fonts/georgia/georgia-bold-italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Georgia Bold */
@font-face {
    font-family: 'Georgia';
    src: url('/shelter/src/fonts/georgia/georgia-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Georgia Italic */
@font-face {
    font-family: 'Georgia';
    src: url('/shelter/src/fonts/georgia/georgia-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Georgia Regular */
@font-face {
    font-family: 'Georgia';
    src: url('/shelter/src/fonts/georgia/georgia-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* font-family: 'Georgia', sans-serif; */

html{
    scroll-behavior: smooth;
}

li{
    list-style: none;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.img{
    max-width: 100%;
    height: auto;
}

/* header */

.header{
    background: #FFFFFF;

}

.header__start_screen{
    max-width: 1280px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 18px;
}

.head{
    display: flex;
    padding: 11px 40px 12px 40px;
    justify-content: space-between;
}

.logo{
    display: grid;
    gap: 9px;
}

.title__logo{
    font-size: 32px;
    font-weight: 400;
    line-height: 35.2px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #545454;
    font-family: 'Georgia', sans-serif;
}

.down__logo{
   font-family: Arial;
   font-size: 13px;
   font-weight: 400;
   line-height: 14.95px;
   letter-spacing: 0.1em;
   text-align: left;
   color:  #292929;
   margin-left: 4px;
}

.nav_list{
    display: flex;
    gap: 36px;
}

.nav__list_item{
    color: #545454;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

/* pets */

.our__friends{
    background: #F6F6F6;
}

.pets__content{
    max-width: 1280px;
    margin: auto;
}

.pets__content_box{
    display: flex;
    padding:80px 25px 102px;
    flex-direction: column;
    gap: 44px;
    align-items: center;
}

.h3__pets{
    color: #545454;
    font-family: Georgia ,sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: center;
    max-width: 400px;
    margin: auto;
}

.pets__slider__box{
    display: flex;
    align-items: center;
    gap: 37px;
}



.slider__pets{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    column-gap: 10px;
}


.slider__item{
    width: 270px;
    gap: 30px;
    border-radius: 9px;
    display: grid;
    justify-items: center;
    background: #FAFAFA;
    padding-bottom:30px;
    margin: 15px;
    transition:  0.7s;
}

.slider__span{
    font-family: Georgia ,sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 22.72px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
}

.slider__btn{
    color: #292929;
    font-family: Georgia ,sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 22.1px;
    letter-spacing: 0.06em;
    text-align: left;
    border: 2px solid #F1CDB3;;
    padding: 13px 43px;
    border-radius: 100px;
    border: 2px 0px 0px 0px;  
    background: #FAFAFA;
    transition:  0.7s; 
    cursor: pointer;
}

.btn__slider__pets{
    display: grid;
    padding: 12px 10px;
    border-radius: 100px ;
    border: 2px;
    border: 2px solid #F1CDB3;
    transition:  0.7s;
    cursor: pointer;
    background-color: #F6F6F6;
}

.span__pets{ 
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
}

.left{
    padding: 12px 17px;
}

.number{
    padding: 12px 19px;
}

.right{
    padding: 12px 17px;
}

.pets__pegionation{
    display: flex;
    gap: 20px;
}

/* footer */

.footer{
    background: url(/shelter/src/img/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
}

.footer__box{
    max-width: 1280px;
    margin: auto;
}

.footer__contetn{
    padding: 40px 40px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__contetn__item{
    padding-top: 17px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.footer__contetn__list{
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.footer__contetn__item_location{
    padding-top: 17px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: -7px;
}

.footer__contetn__list_location{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.footer__contetn_h3{
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #FFFFFF;  
}

.footer__contetn_link{
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #F1CDB3; 
    display: flex;
    align-items: center;
    gap: 20px;
    transition:  0.7s;
}

/* hover element */


.nav__item{
    padding-bottom: 2px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .4s; 
    transition:  0.7s;
}

.footer__item{
    padding-bottom: 5px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .4s; 
    transition:  0.7s;
} 

.nav__list_item{
    transition:  0.7s;
}

.nav__list_item:hover{
   color: #292929;
}

.footer__item:hover{
    color: #F1CDB3;
    background-size: 100% 3px; 
}

.nav__item:hover{
color: #F1CDB3;
background-size: 100% 3px; 
}

.active__nav_list{
    color: #292929;
    cursor: default;
}

.active__nav_item{
    color: #F1CDB3;
    background-size: 100% 3px; 
}

.footer__contetn_link:hover{
    color: #FAFAFA; 
}

.btn__slider__pets:hover{
    background-color: #FDDCC4;
    border: 2px solid #fDDCC4;
}

.slider__item:hover .slider__btn {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.slider__item:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.active__btn__slider__pets{
    background-color: #FDDCC4;
    border: 2px solid #fDDCC4;
}

.disabled__btn__slider__pets{
    background-color: #F6F6F6;
    color: #CDCDCD;
    border: 2px solid #CDCDCD;
}

.disabled__btn__slider__pets:hover{
    background-color: #F6F6F6;
    color: #CDCDCD;
    border: 2px solid #CDCDCD;
    cursor: default;
}